:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-decoration-color: #757575;
  --title-color: #212121;
  --secondary-color: #ffffff;
  --footer-color: #2f303a;
  --footer-link-kolor: rgba(255, 255, 255, 0.6);
  --bacgraund-color: #2f303a;
  --bacground-secon-color: #f5f4fa;
  --section-pt: 94px;
  --section-pb: 94px;
  --icon-color: #afb1b8;
}
body {
  font-family: var(--main-font);
  color: var(--title-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  content: var(--accent-color);
  text-decoration: none;
}
.list {
  list-style: none;
  color: var(--text-decoration-color);
}

.adress {
  font-style: normal;
}
/* ------ header ---- */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 94px;
}
.tell:hover .tell-img,
.tell:focus .tell-img {
  fill: var(--accent-color);
}
.tell-img {
  fill: rgba(117, 117, 117, 1);
}

.tell-list {
  display: flex;
  align-items: center;
}
.tell-item:not(:last-child) {
  margin-right: 50px;
}

.navidation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header-studio {
  color: var(--title-color);
}
.navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}
.tells {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.tell-img {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tell:hover,
.tell:focus {
  color: var(--accent-color);
}
.tell-img:hover,
.tell-img:focus {
  color: var(--accent-color);
}

.tell {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-decoration-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info:focus,
.info:hover {
  color: var(--accent-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
/* ------ end header ---- */
/* ----- hero------ */
.text {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.heroo-color {
  background-color: var(--bacgraund-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.heroo-color .container {
  text-align: center;
  width: 1200px;
  padding: 200px 0;
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  border-style: none;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

/* -----  end hero------ */

/* --- FEATURES ---*/
.features .container {
  width: 1200px;
  padding-top: 94px;
}
.features-list {
  display: flex;
  align-items: center;

  margin-left: -30px;
  margin-top: -30px;
}
.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.features-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.features-text-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
/* ---  end FEATURES ---*/
/* WHAT_ARE_WE_DOING */
.wedoing-list {
  padding-top: 94px;
}
.wedoing-list .container {
  width: 1200px;
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.wedoing-style {
  position: relative;
}
.item-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 27px 80px;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.wedoing-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-color);
}
/* end WHAT_ARE_WE_DOING */
/* ---Team--- */
.our-team {
  align-items: center;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  background-color: var(--bacground-secon-color);
}
.our-team .container {
  width: 1200px;
}
.team-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
  transition: 250ms linear;
}
.team-icon-link:hover .team-icon,
.team-icon-link:focus .team-icon {
  fill: var(--secondary-color);
  transition: fill 250ms linear;
}

.team-list-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-wrapper {
  padding: 30px 45px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-first {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-color);
}
.proffesion-our-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
/* --- end Team--- */
/* ----clients---- */
.clients {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pt);
}
.clients-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  border-radius: 4px;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:not(:first-child) {
  margin-left: 30px;
}

.clients-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

/* ----end clients---- */
/* --footer-- */

.adress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-dark {
  color: var(--secondary-color);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 70px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}

.section-footer-social-list {
  width: 206px;
  height: 80px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.footer-link-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-address-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-mail-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel);
}

/* --end footer-- */
/* --- portfolio---- */
.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-list {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
  justify-content: center;
}
.list-btn:not(:last-child) {
  margin-right: 8px;
}

.projekt-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--bacground-secon-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--bacground-secon-color);
  border-radius: 4px;
  border-style: none;
  min-width: 100px;
  cursor: pointer;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projekt-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.projekt-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--secondary-color);
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: transform 250ms linear, opacity 0ms linear 0ms;
}
.projekt-list-item {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.projekt-wrapper {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 24px 20px;
  border-top: none;
}
.projekt-link-wrapper {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  overflow: hidden;
  transform: rotateX(90deg);
  transform-origin: left bottom;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projekt-link-wrapper:hover .overlay,
.projekt-link-wrapper:focus .overlay {
  transform: rotateX(0deg);
  opacity: 1;
}
.projekt-item:hover .overlay,
.projekt-item:focus .overlay {
  transform: rotateX(0deg);
  opacity: 1;
}
.info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}

/* ----portfolio---- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
